<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <style>
        li a{
            text-decoration: none;
        }
        a:active{
            text-decoration: underline;
        }
        a:visited{
            
            text-decoration: underline;
        }
    </style>
</head>
<body>
    
    <ul style="list-style-type: none; display: flex; justify-content: space-evenly; ">
        <li><a href="/employee/home/">emp home</a></li>
        <li><a href="/employee/add-emp/">add employee</a></li>
        <li><a href="/employee/view-emp/">view employee</a></li>
        <li><a href="/employee/about/">about</a></li>
        <li><a href="/employee/testimonials/">testimonials</a></li>
        <li><a href="/employee/feedback/">feedback</a></li>
        <li><a href="/employee/">follow</a></li>
        <li><a href="/index/">First App</a></li>
    </ul>

</body>
</html>