* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.top_nav {
    height: 3vh;
    background-color: #0867cd;
}

.top_nav .social_media {

    position: absolute;
    right: 3%;
    /* bottom: 50px; */
}

.top_nav .social_media i {

    margin-right: 10px;
    color: white;
    opacity: 0.5;
}

.top_nav .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

.hero-section {
    background-color: #1e7ebd;
    height: 75vh;
}

header {
    /* border: 2px solid rebeccapurple; */
    width: 100vw;
    height: 55px;
    background-color: #1e7ebd;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    color: white;
    position: relative;
    left: 5%;
}

/* header nav img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 5%;
} */
header nav ul {
    position: relative;
    right: 5%;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style-type: none;
    margin-right: 55px;
    letter-spacing: 3px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 1s linear;

}

header nav ul li a:hover {
    color: rgb(215, 214, 214);
    transform: scale(1.1);
}

/* header end here */



/* main section started here */
.main-section {
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    margin: 60px auto;
}

.left-section {
    border: 2px solid black;
    max-width: 50%;
}

.left-section h2 {
    color: white;
    text-align: center;
    margin-top: 90px;
}

.left-section p {
    color: whitesmoke;
    margin-top: 1%;
    text-align: center;
    /* margin-left:25% ; */
    /* width: 50%; */

}

.left-section button {
    margin-top: 25px;
    background-color: bisque;
    padding: 10px 30px;
    border-radius: 10px 30px 10px 30px;

}