{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form action="" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter Username">

        <label for="pass">Password</label>
        <input type="password" name="password" id="pass" placeholder="Enter password">

        <input type="submit" value="Login">
    </form>

    <p>haven't sign up yet ?</p>
    <a href="{% url 'register' %}">sign up</a>

</div>

{% else %}

<div>
    <form action="" method="post">
        {% csrf_token %}

        {{form.as_p}}
       

        <input type="submit" value="Register">
    </form>
    <p>already sign up ?</p>
    <a href="{% url 'login' %}">login</a>
</div>

{% endif %}

{% endblock %}